
<div class="my-upload clearfix">
  <div class="knowledge-con pull-left">
    <div class="text-right clearfix">
      <div class="input-group input-group-sm pull-left">
        <input class="form-control" type="text" name="inputSearch" #term title="请输入关键字" placeholder="请输入关键字" id="searchFuzzy">
        <span class="input-group-btn">
      <button type="button" class="btn btn-primary btn-search" (click)="search(term.value)">搜索</button>
    </span>
      </div>
      <button class="btn btn-primary btn-search btn-sm pull-left" (click)="isCollapsed = !isCollapsed">
        高级&nbsp;
        <i class="fa {{isCollapsed ? 'fa-caret-down': 'fa-caret-up'}}"></i>
      </button>
    </div>
    <!--高级搜索面板-->
    <div class="collapse search-advanced" [collapse]="isCollapsed">
      <div class="well">
        <form class="form-inline" #myForm="ngForm" (ngSubmit)="advancedSearch(myForm.value)">
          <div class="form-group form-group-sm">
            <label for="inputTitle">标题：</label>
            <input ngModel name="title" class="form-control item" type="text" id="inputTitle">
          </div>
          <div class="form-group form-group-sm">
            <label for="inputDocumentName">文档名称：</label>
            <input ngModel name="docName" class="form-control item" type="text" id="inputDocumentName">
          </div>
          <div class="form-group form-group-sm">
            <label for="inputTag">标签：</label>
            <input ngModel name="tag" class="form-control item" type="text" id="inputTag">
          </div>
          <div class="form-group form-group-sm">
            <label for="inputProvider">提供者：</label>
            <input ngModel name="provider" class="form-control item" type="text" id="inputProvider">
          </div>
          <div class="form-group form-group-sm">
            <label for="inputMagazineStatus">格式：</label>
            <select ngModel name="format" class="form-control" id="inputMagazineStatus" style="width: 168px;">
              <option value="-1">请选择格式</option>
              <option value="0">文档</option>
              <option value="1">工作表</option>
              <option value="2">演示文稿</option>
              <option value="3">PDF</option>
              <option value="4">文本文档</option>
              <option value="5">图片</option>
              <option value="6">网页文件</option>
            </select>
          </div>
          <div class="form-group form-group-sm">
            <label for="inputReferenceNumber">文号：</label>
            <input ngModel name="reference-number" class="form-control item" type="text" id="inputReferenceNumber">
          </div>
          <div class="form-group form-group-sm">
            <label for="inputDimension">维度：</label>
            <input ngModel name="dimension" class="form-control" type="text" name="inputTitle" id="inputDimension" #input [(ngModel)]="dimensionSelected" readonly =true (click)="openModalWithComponent()"  style="width: 429px;">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="openModalWithComponent()"></span>
          </div>
          <!--失效时间-->
          <div class="form-group form-group-sm">
            <label for="inputDaterStartLose">上传时间：</label>
            <div class="input-group has-addon">
              <input class="form-control can-input" readonly type="text" id="inputDaterStartLose"
                     bsDatepicker #dp="bsDatepicker" ngModel name="stratUpload" [bsConfig]="{locale: 'zh-cn'}" [minDate]="minDate" [maxDate]="maxDate">
              <span class="input-group-addon clickable" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span>
            </div>
            <span class="input-connect">至</span>
            <div class="input-group has-addon">
              <input class="form-control can-input" readonly type="text" name="inputTitle" id="inputDaterEndLose"
                     bsDatepicker #drp="bsDatepicker" ngModel name="endUpload" [bsConfig]="{locale: 'zh-cn'}" [minDate]="minDate"
                     [maxDate]="maxDate">
              <span class="input-group-addon clickable" (click)="drp.toggle()">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <div class="input-group">
              <button class="btn btn-sm btn-primary" type="submit">立即搜索</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="data-container clearfix">
      <table class="table">
        <thead>
        <tr>
          <td>标题</td>
          <td>维度</td>
          <td>格式</td>
          <td>评分</td>
          <td>上传时间</td>
        </tr>
        </thead>
        <tbody *ngIf="datas.list.length > 0" >
        <tr *ngFor="let item of datas.list">
          <td>
            <a class="pointer" (click)="viewDetails($event)" data-id="">{{item.title}}</a>
          </td>
          <td>{{item.dimension}}</td>
          <td>{{item.format}}</td>
          <td>
            {{item.score}}
            <!--<app-stars [rating]="item.rating"></app-stars>-->
          </td>
          <td>
            {{item.createDate | date:'yyyy-MM-dd HH:mm:ss'}}
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="datas.list.length < 1" class="data-container clearfix">
        <div class="no-data">
          <img [src]="noData" alt="">
        </div>
      </div>
      <!--分页-->
      <div *ngIf="datas.list.length > 0" class="site-tool-pager">
      <span class="page-count">
        当前第 <span class="text-danger">{{dataPage.current}}</span> 页，
        共 <span class="text-danger">{{dataPage.numPages}}</span> 页
      </span>
        <pagination [(ngModel)]="dataPage.current" class="pagination-sm" [boundaryLinks]="true" [rotate]="false"
                    [totalItems]="dataPage.total" [maxSize]="dataPage.maxSize"
                    (pageChanged)="onPageChanged($event)" (numPages)="onTotalChanged($event)"
                    [previousText]="dataPage.previousText" [nextText]="dataPage.nextText"
                    [firstText]="dataPage.firstText" [lastText]="dataPage.lastText"></pagination>
      </div>
    </div>
  </div>
  <div class="knowledge-content-right pull-right">
    <div class="recommend">
      最新知识
    </div>
    <table class="table">
      <thead>
      <tr>
        <td>标题</td>
        <td>上传人</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of newKnowledge">
        <td>{{item.docTitle}}</td>
        <td>{{item.docAuthor}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- 类型选择窗 -->
<div class="modal fade" bsModal #ShareToMeModalBox="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">添加维度</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ShareToMeModalBox.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group has-feedback">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-inverse btn-primary" (click)="fnSure()">确定
        </button>
        <button type="button" class="btn btn-sm btn-default" (click)="ShareToMeModalBox.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
