<div class="productDetail">
  <div>
    <img src="http://placehold.it/1100x120">
  </div>
  <br>
  <p>
    产品详情
  </p>
  <p>
    产品名称
    {{product.title}}
  </p>
  <p>
    价格：{{product.price}}元
  </p>
  <div>
    <p class="pull-right">{{comments.length}}</p>
    <p><app-stars [rating]="product.rating|number:'1.0-2'"></app-stars></p>
  </div>
  <hr>
  <div>
    <div>
      <button class="btn btn-success" (click)="isCommentHide=!isCommentHide">发表评论</button>
    </div>
    <div [hidden]="isCommentHide">
      <div><app-stars [(rating)]="newRating" [readonly]="false"></app-stars></div>
      <div>
        <textarea name="" id="" cols="30" rows="3" [(ngModel)]="newComment"></textarea>
      </div>
      <button class="btn btn-default" (click)="addComment()">提交</button>
    </div>

    <div class="row" *ngFor="let comment of comments">
      <hr>
      <div class="col-md-12">
        <app-stars [rating]="comment.rating"></app-stars>
        <span>{{comment.user}}</span>
        <span>{{comment.timestamp}}</span>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>

  <div>
    <span [routerLink]="['./']">产品信息</span>
    <span [routerLink]="['./seller','吴萱仪']">销售员信息</span>
    <a [routerLink]="[{outlets:{aux:'chat'}}]">开始聊天</a>
    <a [routerLink]="[{outlets:{aux:null}}]">结束聊天</a>
  </div>
  <div style="padding-top: 15px;width: 70%;float: left;box-sizing:border-box;">
    <router-outlet></router-outlet>
  </div>
  <div style="padding-top: 15px;width: 30%;float: left;box-sizing:border-box;">
    <router-outlet name="aux"></router-outlet>
  </div>
</div>
